.navbar1 {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  .navbar1-item {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .navbar1-item:hover {
    color: #000;
    font-weight: bold;
  }
  
  #authentication-status {
    font-weight: bold;
  }
  
  #user-details {
    margin-right: 10px;
  }
  
  #logout-link {
    color: #666;
  }
  
  #logout-link:hover {
    color: #333;
    text-decoration: underline;
  }
  